<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <!-- /bootstrap -->

  <!-- css -->
  <link rel="stylesheet" href="assets/css/style.css" />
  <!-- /css -->

  <!-- /mediaquery -->
  <link rel="stylesheet" href="assets/mediaquery/mediaquery.css" />
  <!-- /mediaquery -->

  <!-- fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" />
  <!-- /fontawesome -->

  <!-- google font -->
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet" />
  <!-- /google font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,100;1,300&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <!--  GOOGLE FONT LOBSTER -->

  <title>Barbershop</title>
</head>

<body>
  <header>
    <div id="app">


      <!--  Header  -->
      <header>
        <!-- navigation bar -->
        <nav>
          <img src="assets/img/avadabarbers-logo-x1.png" alt="logo">

          <div class="shop-burger">
            <i class="fas fa-shopping-cart"></i>

            <div class="menu-hamburger" @click="drop = !drop">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <ul class="menuDropdown" v-if="drop">
              <li v-for="contact in menuDropdown">
                <a href="">{{contact}}</a>

              </li>
            </ul>
          </div>
        </nav>

        <!-- jumbotron -->
        <section class="jumbo">
          <div class="jumbo-decription">
            <h1>Barber Shop</h1>
            <div class="line"></div>
            <p>The Pinnacle Of Male Grooming</p>
            <span class="button">LEARN MORE</span>
          </div>
          <div class="container-jumbo">
            <img src="assets/img/avadabarbers_hero_focalmirror-600x825.png" alt="">
          </div>

          <div class="white_minibox">
            <div class="minibox">
              <i class="fas fa-folder-plus"></i>
              <span>Demos</span>
            </div>
            <div class="minibox">
              <div class="price">
                <span class="dollar">$</span><span class="trentanove"><strong>39</strong></span>
              </div>
              <span>On Sale</span>
            </div>
          </div>
        </section>
      </header>
  </header>


  <!--  Main  -->
  <main>
    <!-- awards -->
    <section class="Awards">
      <div class="container-awards">
        <p>Award Winning</p>
        <h2>Pro Barbers</h2>
        <span class="button"> meet your new barber</span>
      </div>
      <div class="triangle"></div>
    </section>

    <!-- services -->
    <section class="Services">
      <div class="upper-text">
        <span>Mens grooming</span>
        <h2>Services</h2>
      </div>
      <div class="container-services">

        <div class="box-service" id="razer">
          <img src="assets/img/avadabarbers-trimcut-icon-before.png" alt="razer">
          <h3>trim e cut</h3>
          <p>Avada Barbers are experts in the lickety split trim and hair cut. Quick but careful and ridcusly good
            looking.</p>
        </div>
        <div class="box-service" id="soap">
          <img src="assets/img/avadabarbers-washndry-icon.png" alt="soap">
          <h3>wash e dry</h3>
          <p>Take a seat io our fine leather chairs lean back and let us lather you fresh head in luxorious fashion.</p>
        </div>
        <div class="box-service" id="beard">
          <img src="assets/img/avadabarbers-beardtrim-icon.png" alt="beard">
          <h3>beard tidy</h3>
          <p>Tame the tangles and unitidy facial airs like a gentleman with our Bead Tidy services from Avada Barbers.
          </p>
        </div>
      </div>

      <div class="triangle black"></div>

    </section>


    <section class="Products">


      <span>We have you covered</span>
      <h2>Avada Grooming Products</h2>
      </div>
      <div class="container-products">
        <div class="barber-box">
          <img src="assets/img/brush_dark-400x400.png" alt="">
          <h3>brush</h3>
          <span>$15.00</span>
        </div>
        <div class="barber-box">
          <img src="assets/img/scissors-400x400.png" alt="">
          <h3>scrisson</h3>
          <span>$85.00</span>
        </div>
        <div class="barber-box">
          <img src="assets/img/hot_oil_dark-400x400.png" alt="">
          <h3>hot oil</h3>
          <span>$15.00</span>
        </div>
        <div class="barber-box">
          <img src="assets/img/straight_razor_dark-400x400.png" alt="">
          <h3>straight razor</h3>
          <span>$30.00</span>
        </div>
        </div>
                        <span class="button">shop our product range</span>


    </section>

    <!-- review -->
    <section class="Reviews">

                <div class="container_absolute">
                    <div class="bg-absolute">
                        <img src="assets/img/shaving_butter-200x200.png" alt="">
                    </div>
                    <div class="text-absolute">
                        <span>this months featured product</span>
                        <h2>shaving butter</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, atque, illum natus eos dicta alias doloremque </p>
                        <span class="button">buy now</span>
                    </div>
                </div>

              <div class="upper-text-review">
        <span>Mens grooming</span>
        <h2>Services</h2>
      </div>

      
                  <div class="userReview">
                      <div class="text-review">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio sit rerum beatae dolor voluptatum fugit repudiandae</p>
                        <img src="assets/img/avadabarbers-trimcut-gallery7-200x201.jpg" alt="">
                        <span>jon doe</span>
                    </div>
                    <div class="text-review">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio sit rerum beatae dolor voluptatum fugit repudiandae</p>
                        <img src="assets/img/avadabarbers-trimcut-gallery6-200x200.jpg" alt="">
                        <span>pete jones</span>
                    </div>
                    <div class="text-review">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio sit rerum beatae dolor voluptatum fugit repudiandae</p>
                        <img src="assets/img/avadabarbers-trimcut-gallery3-200x201.jpg" alt="">
                        <span>mark philips</span>
                    </div>
                  </div>
            </section>
          







    </section>

    <!-- blog -->
    <section class="Blog">
        <div class="triangle-bottom">
          
        </div>
    </section>
  </main>


  <!--  Footer -->
  <footer>
    <!-- shop -->
    <div class="shop">
    </div>

    <!-- contact -->
    <div class="Contacts">
    </div>

    <!-- appointment -->
    <div class="reservation">
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script> <!-- VUE -->
  <script type="text/javascript" src="assets/js/script.js"></script>
</body>

</html>