* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Archivo Narrow', sans-serif;
}

img {
  width: 100%;
  max-height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lobster', cursive;
}

/* HEADER */
header {
  padding: 20px 0 50px;
  background-image: url("../img/avadabarbers-homepage-hero-bg.jpg");
  background-size: cover;
  background-position: center;
}


/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20%;
  color: #b0b0b0;
}

nav img {
  width: 100px;
}


.shop-burger {
  display: flex;
  cursor: pointer;
}

.burger div {
  /* height: px; */
  margin: 2px 0px 2px 10px;
  width: 15px;
  border: 1px solid #b0b0b0;
}

.button{
      padding: 10px 15px;
      color: #ae8652;
      border: 1px solid #ae8652;
}

.line{

      width: 200px;
      height: 2px;
      border: 1px solid #ae8652;
      border-radius: 50px;
}
/* jumbo section */
.jumbo {
  display: flex;
  justify-content: space-between;
  padding-left: 20%;
}

#jumbo-decription h1 {
  padding: 300px 0 20px 0;
  font-size: 80px;
  color: #eae8e6;

}
#jumbo-decription p {
  padding: 20px 0 30px;
  color: #505050;