* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}

img {
  width: 100%;
  max-height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lobster', cursive;
}

/* HEADER */
header {
  padding: 20px 0;
  background-image: url("../img/avadabarbers-homepage-hero-bg.jpg");
  background-size: cover;
  background-position: center;
}


/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20%;
  color: #b0b0b0;
}

nav img {
  width: 150px;
}


.shop-burger {
  display: flex;
  cursor: pointer;
  position: relative;
}

.menu-hamburger div {
  /* height: px; */
  margin: 2px 0px 2px 10px;
  width: 15px;
  border: 1px solid #b0b0b0;
}

.menuDropdown {
  position: absolute;
  width: 130px;
  padding: 10px;
  font-size: 1.2rem;
  background: rgba(255, 255, 255, 0);
  border: 1px solid #b0b0b0;
  border-radius: 10px;
  list-style: none;
  top: 15px;
}

.menuDropdown li {
  padding: 5px;
}

.menuDropdown a {
  color: #818181;
  width: 100px;
  font-size: 1.2rem;
  padding-left: 10px
}

.menuDropdown li:hover a {
  transition: 0.2s;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 20px;
  border-left: 2px solid #ae8652;
}



/* jumbo section */
.jumbo {
  display: flex;
  justify-content: space-between;
  padding-left: 20%;
}

.jumbo-decription h1 {
  padding: 300px 0 20px 0;
  font-size: 80px;
  color: #eae8e6;

}

.line {
  width: 200px;
  height: 2px;
  border: 1px solid #ae8652;
  border-radius: 50px;
}

.jumbo-decription p {
  padding: 20px 0 30px;
  color: #505050
}

.button {
  padding: 10px 15px;
  color: #ae8652;
  border: 1px solid #ae8652;
}

.white_minibox {
  display: flex;
  flex-direction: column;
}

.minibox {
  margin: 5px;
  width: 50px;
  height: 50px;
  font-size: 0.8rem;
  text-align: center;
  color: #383d6d;
  background-color: #fff;
  border-radius: 5px;
}

.fa-folder-plus {
  padding-top: 5px;
  font-size: 1.5rem;
}

.price {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: rgb(5, 184, 5);
}

.dollar {
  font-size: 0.7rem;
}

.trentanove {
  font-size: 1.5rem;
}

.triangle {
    margin-top: 100px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 49vw 100px 49vw;
    border-color: transparent transparent #ffffff transparent;
}

/* MAIN */
main {
  background-color: white
}

.Awards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-image: url("../img/avadabarbers-about-introbackground.jpg");
}

.container-awards {

  margin-top: 25px;
}

.Awards p {
  color: #ae8652;
  text-transform: uppercase;
}

.Awards h2 {
  padding: 20px 0 30px 0;
  font-size: 50px;
  color: #b0b0b0;
}

.Services {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
}

body>main>section.Services>div.upper-text>span,
body>main>section.Reviews>div.upper-text-review>span {
  color: #ae8652;
  font-weight: 600;
  font-size: 35px;
}

.Services h2, body>main>section.Reviews>div.upper-text-review>h2 {
  color: #b0b0b0;
  font-weight: 600;
  font-size: 65px;
}

.Services p {
  text-align: center;
}

.upper-text {
  text-align: center;
  padding: 0px 0 50px 0;
}

.container-services {
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
}

.container-services img {
  width: 100px;
  max-height: 140px;
}

.barber-box,
.box-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
}

.barber-box h3,
.box-service h3 {
  padding: 25px 0;
  font-size: 2.2rem;
  color: #ae8652;
  text-transform: capitalize;
}

.barber-box p {
  text-align: center;
  color: #818181;
}

#soap h3 {
  padding: 35px 0 25px 0;
}

.container-button_services {
  text-align: center;
}

.black {
  border-color: transparent transparent #141414 transparent;
}


/* products */
.Products {
  text-align: center;
  background-image: url("../img/avadabarbers-reviewsbackground.jpg");
  background-size: cover;
  background-position: top;
  height: 65vh;
}

body>main>section.Products>span{
    color: #ae8652;
    font-weight: 800;

}

.Products h2 {
  font-size: 50px;
  color: #b0b0b0;
}

.container-products {
  display: flex;
  justify-content: space-around;
  padding-bottom: 60px;
}

.barber-box span {
  font-size: 1.3rem;
  color: #ae8652;
}

.Reviews{

  position: relative;
  display: flex;
  justify-content: space-between;
    height: 75vh;
    justify-content: center;
}
.userReview{
        padding: 10px;
        margin-top: 21%;
        display: flex;
        justify-content: center;
        text-align: center;
}


.container_absolute {
  position: absolute;
  display: flex;
  align-items: center;
  top: -40px;


  border-top: 4px solid #ae8652;
  background: #111110;
}

.bg-absolute {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url("../img/avadabarbers-cta-background.jpg");
  background-size: cover;
}

.bg-absolute img {
  width: 300px;
}

.text-absolute {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 20px;
}

.text-absolute span {
  color: #ae8652;
  text-transform: uppercase;
}

.text-absolute h2 {
  font-size: 5rem;
  color: #b0b0b0;
  text-transform: capitalize;
}

.text-absolute p {
  padding: 20px 0 30px;
  color: #818181;
}
.upper-text-review{
  margin-top: 260px;
  text-align: center;
  position: absolute
  ;
}

.text-review {
     display: flex;
     flex-direction: column;
     align-items: center;
     max-width: 250px;
  
}

.text-review p {
  max-width: 200px;
  color: #b0b0b0;
  word-spacing: 5px;
}

.text-review img {
  border-radius: 50%;
  width: 100px;
  margin: 20px 0 10px;
}

.text-review span {
  color: #ae8652;
  text-transform: capitalize;
}
.triangle-bottom {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 49vw 0 49vw;
  border-color: #ffffff transparent transparent transparent;
}

.Blog {
  height: 400px;
  background-color: GOLD;
}

footer {
  height: 400px;
  background-color: blue;