* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

img {
  width: 100%;
  max-height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lobster', cursive;
}

/* HEADER */
header {
  padding: 20px 0 ;
  background-image: url("../img/avadabarbers-homepage-hero-bg.jpg");
  background-size: cover;
  background-position: center;
}


/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20%;
  color: #b0b0b0;
}

nav img {
  width: 150px;
}


.shop-burger {
  display: flex;
  cursor: pointer;
  position: relative;
}

.menu-hamburger div {
  /* height: px; */
  margin: 2px 0px 2px 10px;
  width: 15px;
  border: 1px solid #b0b0b0;
}
.menuDropdown{
    position: absolute;
    width: 130px;
    padding: 10px;
    font-size: 1.2rem;
    background: rgba(255, 255, 255, 0);
    border: 1px solid #b0b0b0;
    border-radius: 10px;
    list-style: none;
    top: 15px;
}
.menuDropdown li {
    padding: 5px;
}
.menuDropdown a{
    color:  #818181;
    width: 100px;
    font-size: 1.2rem;
    padding-left: 10px
}
.menuDropdown li:hover a{
    transition: 0.2s;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 20px;
    border-left: 2px solid #ae8652;
}



/* jumbo section */
.jumbo {
  display: flex;
  justify-content: space-between;
  padding-left: 20%;
}

.jumbo-decription h1 {
  padding: 300px 0 20px 0;
  font-size: 80px;
  color: #eae8e6;

}

.line {
  width: 200px;
  height: 2px;
  border: 1px solid #ae8652;
  border-radius: 50px;
}

.jumbo-decription p {
  padding: 20px 0 30px;
  color: #505050
}

.button {
  padding: 10px 15px;
  color: #ae8652;
  border: 1px solid #ae8652;
}

.white_minibox {
  display: flex;
  flex-direction: column;
}

.minibox {
  margin: 5px;
  width: 50px;
  height: 50px;
  font-size: 0.8rem;
  text-align: center;
  color: #383d6d;
  background-color: #fff;
  border-radius: 5px;
}

.fa-folder-plus {
  padding-top: 5px;
  font-size: 1.5rem;
}

.price {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: rgb(5, 184, 5);
}

.dollar {
  font-size: 0.7rem;
}

.trentanove {
  font-size: 1.5rem;
}

/* MAIN */
main {
  /* debug */
  background-color:cadetblue
}

.Awards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    background-image: url("../img/avadabarbers-about-introbackground.jpg");
}

.Awards p{
    color: #ae8652;
    text-transform: uppercase;
}

.Awards h2{
    padding: 20px 0 30px 0;
    font-size: 50px;
    color: #b0b0b0;
}

.Services {
  /* debug */
  height: 400px;
  background-color:#383d6d
}

.Products {
  /* debug */
  height: 400px;
  background-color: PURPLE
}

.Reviews {
  /* debug */
  height: 400px;
  background-color: red
}

.Blog {
  /* debug */
  height: 400px;
  background-color: GOLD;
}

footer {
  /* debug */
  height: 400px;
  background-color: blue;
